.map_sidebar_wrapper {
  inline-size: 20%;
  max-inline-size: 100%;
  block-size: 100%;
  background-color: var(--white-600);
  border: 5px solid var(--white-500);
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-animation: map-sidebar-animation 1.3s ease;
          animation: map-sidebar-animation 1.3s ease;
}

.map_sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  inline-size: 100%;
  block-size: 100%;
  position: relative;
  padding-block: 5px 0;
}

.map_sidebar_header_wrapper {
  padding-inline: 5px;
  -webkit-padding-before: 0.5rem;
          padding-block-start: 0.5rem;
}

.map_sidebar_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
  inline-size: 100%;
}

.map_sidebar_header_item {
  font-size: 1rem;
  color: var(--purple);
  position: relative;
}

.map_sidebar_header_item.active {
  color: var(--cyan);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.map_sidebar_header_item.active.map_sidebar_header_item:after, .map_sidebar_header_item.active.map_sidebar_header_item:before {
  background-color: var(--purple);
}

.map_sidebar_header_item:not(:last-child):before, .map_sidebar_header_item:not(:last-child):after {
  content: '';
  display: block;
  width: 8px;
  height: 1.5px;
  position: absolute;
  right: -9px;
  top: calc(50% - 2px);
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  background-color: var(--purple);
}

.map_sidebar_header_item:not(:last-child):after {
  top: calc(50% - 2px);
}

.map_sidebar_header_item:not(:last-child):before {
  top: calc(50% + 2px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.map_sidebar_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  block-size: 100%;
  min-block-size: 0;
  padding-inline: 5px;
}

.map_sidebar_button {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--purple);
  -webkit-margin-before: 0.1rem;
          margin-block-start: 0.1rem;
}

.map_sidebar_button:hover {
  color: var(--cyan);
}

.map_sidebar_divider.sidebar_header_divider {
  block-size: 2px;
}

.map_sidebar_collapse_wrapper {
  inline-size: 100%;
  block-size: 100%;
  min-block-size: 0;
}

@-webkit-keyframes map-sidebar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes map-sidebar-animation {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  .map_sidebar_wrapper {
    inline-size: 100%;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
/*# sourceMappingURL=styles.css.map */