.map_ul {
	inline-size: 100%;
	min-block-size: 100%;
}

.map_ul_up {
	min-inline-size: 1rem;

	background-color: var(--background-color);
	border: 1px solid black;
	border-radius: 0.5rem;
	padding: 0.5rem;
	cursor: pointer;

	position: absolute;
	right: 0.5rem;
	bottom: -0.5rem;

	&:hover {
		animation: upAnimate 2s ease 0.3s infinite;
		-webkit-animation: upAnimate 2s ease 0.3s infinite;
	}
}

@keyframes upAnimate {
	0% {
		transform: translateY(0rem);
	}
	25% {
		transform: translateY(-1rem);
	}
	50% {
		transform: translateY(0rem);
	}
	75% {
		transform: translateY(-1rem);
	}
	100% {
		transform: translateY(0rem);
	}
}

@-webkit-keyframes upAnimate {
	0% {
		transform: translateY(0rem);
	}
	25% {
		transform: translateY(-1rem);
	}
	50% {
		transform: translateY(0rem);
	}
	75% {
		transform: translateY(-1rem);
	}
	100% {
		transform: translateY(0rem);
	}
}
