.sidebar_wrapper {
	display: block;
	inline-size: max(calc(30% + 25px), calc(300px + 25px));
	max-inline-size: 100%;
	block-size: 100%;

	position: absolute;
	top: 0;
	right: 0;
	z-index: var(--z-index-sidebar);

	transform: translateX(calc(100% - 25px));
	transition: transform 0.4s 0.4s;

	&.open {
		transform: translateX(0);
	}
}

.sidebar {
	inline-size: 100%;
	block-size: 100%;

	background-color: var(--purple);
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;

	padding: 1rem;
	padding-inline-start: calc(1rem + 25px);
	opacity: 0;

	position: relative;

	transition: opacity 0.4s 0.4s;

	&.open {
		opacity: 1;
	}
}

.sidebar_burger {
	inline-size: 25px;
	block-size: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: var(--z-index-sidebar);

	background-color: var(--purple);
	border-right: 1px solid var(--white);
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;

	cursor: pointer;

	&.open {
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-225deg);
		}
	}

	&:before,
	&:after {
		content: '';
		display: block;

		inline-size: 10px;
		block-size: 1.5px;

		position: absolute;
		top: calc(50% - 3px);
		left: calc(50% - 5px);

		background-color: var(--white);

		transition: all 0.2s ease;

		transform: rotate(-45deg);
	}

	&:after {
		transform: rotate(-135deg);

		top: calc(50% + 3px);
	}
}
