.map_tab_content_article {
	flex: 1 0 auto;
	flex-direction: column;
	inline-size: 100%;
	block-size: 100% !important;
	min-block-size: 0;

	&.show {
		display: flex;
	}

	&.hide {
		display: none;
	}
}

.map_details_header_wrapper {
	inline-size: 100%;

	background-color: var(--white);
}

.map_details_header {
	inline-size: 100%;
	block-size: 100%;

	border-block-end: 2px solid gray;
}

.map_details_list {
	inline-size: 100%;
	block-size: 100%;
}

.map_more_details_header_button {
	display: flex;
	justify-content: flex-start;

	border-radius: 0;
}

.map_more_details_header_section {
	display: flex;
	flex-direction: column;
	inline-size: 100%;
	block-size: auto;

	padding: 1rem 2rem;

	background-color: var(--gray);
	border-radius: 1px;
}

.map_more_details_header_title {
	font-size: 1.1rem;
	font-weight: 700;
	font-family: inherit;
	color: var(--dark);

	&.first {
		text-align: center;
		color: var(--purple);

		&:after {
			content: '';
			display: block;
			inline-size: 100%;
			block-size: 1px;

			margin-block-start: 0.5rem;

			background-color: white;
		}
	}

	&.second {
		margin-block-start: 1rem;
		font-size: 1rem;
		font-weight: 500;
		justify-items: end;

		overflow: hidden;
		text-overflow: ellipsis;
	}
}
