.userinfo {
	display: flex;
	gap: 20px;
	min-block-size: 200px;
}

.userinfo_item_load {
	min-block-size: 200px;
	block-size: 100%;
}

.userinfo_avatar {
	inline-size: 200px;
	block-size: 200px;

	cursor: auto;

	img {
		border-radius: 15px;
	}
}

.userinfo_content {
	display: flex;
	flex-direction: column;
	inline-size: 100%;
	block-size: 100%;

	margin-block-start: 10px;
}

.userinfo_title {
	font-size: 1.5rem;
	font-weight: 700;
	font-family: inherit;
	color: var(--purple);
}

.userinfo_info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-row-gap: 50px;
	grid-column-gap: 30px;

	margin-block-start: 20px;
}

.userinfo_info_item {
	.userinfo_title {
		font-size: 1.2rem;
		font-weight: 700;
		font-family: inherit;
		color: var(--dark);
	}

	.userinfo_text {
		font-size: 1rem;
		font-weight: 300;
		font-family: inherit;
		color: var(--gray-dark);

		margin-block-start: 10px;
	}
}
