.map_main {
	block-size: 100%;
}

.map_article {
	overflow: hidden;
}

.map_page {
	display: grid;
	grid-template-columns: 1fr 4fr;
	inline-size: 100%;

	block-size: calc(100vh - var(--height-header));
	min-block-size: 20rem;
	max-block-size: 100%;
}

.map_item {
	inline-size: 100%;

	&.map_item_1 {
		position: relative;
		max-inline-size: 100%;
	}

	&.map_item_2 {
		max-inline-size: 100%;
	}
}

.map_sidebar_wrapper {
	inline-size: 100%;
	block-size: 100%;

	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	background-color: var(--background-color);

	padding: 20px 5px;
	transition: 1s all linear;
}

@media (max-width: 1024px) {
	.map_page {
		grid-template-columns: 0 1fr;
	}
}
