.map_main {
	block-size: 100%;
}

.map_article {
	display: flex;
	min-inline-size: 0;

	overflow: hidden;
}

.map_page {
	display: flex;
	inline-size: 100%;
	min-inline-size: 0;
	max-block-size: calc(100vh - var(--height-header));

	overflow-y: hidden;
}

.map_item {
	inline-size: 100%;

	&.map_item_1 {
		position: relative;
		min-inline-size: 15%;
	}

	&.map_item_2 {
		min-inline-size: 80%;
	}
}

.map_sidebar_wrapper {
	inline-size: 100%;
	block-size: 100%;

	border-top-right-radius: 1rem;
	border-bottom-right-radius: 1rem;
	background-color: var(--background-color);

	padding: 20px 5px;
	transition: 1s all linear;
}
