root {
	--blue: #00cfe8;
	--pink: #ffc0cb;
	--indigo: #6610f2;
	--purple: #4d95d3;
	--pink: #e83e8c;
	--red: #ea5455;
	--orange: #ff9f43;
	--yellow: #ffc107;
	--green: #28c76f;
	--light-green: #90ee90;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--white-600: #f8f8f8;
	--white-500: #ebe9f1;
	--white-300: #d0ced4;
	--gray: #b8c2cc;
	--gray-dark: #1e1e1e;
	--primary: #7367f0;
	--secondary: #82868b;
	--success: #28c76f;
	--info: #00cfe8;
	--warning: #ff9f43;
	--danger: #ea5455;
	--light: #f6f6f6;
	--dark: #4b4b4b;
	--black: #000000;
	--kek: 'gr'
}

.kek {
	color: steelblue;
}
