.map_comment_modal_wrapper {
	background-color: rgba(0, 0, 0, 0.5);
}

.map_comment_modal {
	inline-size: 500px;
	max-inline-size: 100%;
	block-size: auto;
	max-block-size: 100%;
	min-block-size: 600px;

	padding: 1rem;
	padding-block-start: 4rem;

	overflow: hidden;
	overflow-y: scroll;

	background-color: var(--white-600);
	border-radius: 1rem;
}

.map_comment_modal_close {
	&:before,
	&:after {
		background-color: black;
	}
}

.map_comment_modal_item {
	&.second {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 15px;

		margin-block-start: 10px;
	}

	&.third {
		margin-block-start: 1rem;
	}

	&.fourth {
		margin-block-start: 1rem;
	}
}

.map_comment_modal_header_title {
	font-size: 1.2rem;
	font-weight: 700;
	font-family: inherit;
	color: var(--purple);

	&.second {
		font-size: 1.05rem;
		font-weight: 500;

		margin-block-start: 0.5rem;
	}
}

.map_comment_modal_info {
	h5 {
		font-size: 1.02rem;
		font-weight: 500;
		font-family: inherit;
		color: var(--purple);
	}

	h6 {
		font-size: 1rem;
		font-weight: 300;
		font-family: inherit;
		color: var(--dark);

		margin-block-start: 0.4rem;
	}
}

.map_comment_modal_comment_header {
	h4 {
		font-size: 1.2rem;
		font-weight: 700;
		font-family: inherit;
		color: var(--purple);
	}
}

.map_comment_modal_comment {
	margin-block-start: 0.5rem;

	textarea {
		display: block;
		inline-size: 100%;
		min-inline-size: min(100%, 300px);
		max-inline-size: 100%;
		min-block-size: 80px;

		border: 1px solid black;
		border-radius: 0.5rem;

		font-size: 0.95rem;
		font-weight: 300;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
		color: black;
		line-height: 20px;

		padding: 5px 10px;
	}
}

.map_comment_modal_button {
	inline-size: 100%;
	block-size: 40px;

	background-color: var(--purple);
	border: 1px solid var(--dark);
	border-radius: 0.5rem;

	margin-block-start: 1rem;
}
