.map_iin_form_wrapper {
	margin-block-end: 10px;
}

.map_iin_textfield_wrapper {
	inline-size: 100%;
	block-size: 45px;

	margin-block-end: 5px;

	font-size: var(--font-size-xl);
}

.map_iin_clear_button {
	font-size: 0.9rem;
	font-weight: 300;
	font-family: inherit;
	color: var(--purple);
	text-decoration: underline;

	cursor: pointer;

	&:hover {
		color: var(--cyan);
	}
}

.map_iin_button {
	inline-size: 100%;
	min-block-size: 30px;

	border: 1px solid var(--dark);
	border-radius: 0.5rem;
	padding: 10px 15px;
	margin-block-start: 10px;

	font-size: 1rem;
	font-weight: 700;
	font-family: inherit;
	color: var(--white);

	background-color: var(--purple);

	&:hover {
		background-color: var(--cyan);
	}
}
