.footer {
	min-block-size: auto;
	background-color: var(--white-500);
}

.footer_container {
	max-inline-size: 1230px;
}

.footer_content {
	block-size: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-block: 50px 150px;
}
.footer_content_item {
	inline-size: 100%;
}

.footer_logo_wrapper {
	margin-block-end: 10px;
}

.footer_logo_text {
	font-size: 1.5rem;
	font-weight: 700;
	font-family: inherit;
	color: var(--purple);

	letter-spacing: 0.25ch;
}

.footer_ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	li {
		font-size: 1.1rem;
		font-weight: 700;

		&:not(:last-child) {
			margin-block-end: 5px;
		}

		a {
			font-size: 1rem;
			font-weight: 300;
			font-family: inherit;
			color: var(--purple);
			text-decoration: none;

			position: relative;
			transition: all 0.5s ease;
			margin-inline-start: 2px;

			&:hover {
				&:after {
					content: '';
					display: block;
					inline-size: 100%;
					block-size: 1px;

					position: absolute;
					left: 0;
					bottom: -2px;

					background-color: var(--purple);
					animation: link-animation 0.3s linear;
				}
			}
		}
	}
}

@keyframes link-animation {
	0% {
		inline-size: 0;
	}
	100% {
		inline-size: 100%;
	}
}
