.home_button {
	padding: .5rem;

	font-size: 1rem;
	font-weight: 700;
	font-family: inherit;
	color: var(--white);

	background-color: var(--purple);
	border-radius: 0.5rem;

	&:hover {
		background-color: var(--cyan);
	}
}
