.header_center {
	inline-size: auto;
	block-size: 100%;
}

.header_center_ul {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	inline-size: 100%;
	block-size: 100%;
}

.header_li {
	a {
		font-size: 1rem;
		font-family: inherit;
		font-weight: 700;
		color: var(--dark);
		text-decoration: none;

		position: relative;
		transition: all 0.3s ease;

		&.active {
			&:after {
				content: '';
				display: block;
				inline-size: 100%;
				block-size: 2px;

				position: absolute;
				bottom: -5px;
				left: 0;

				background-color: var(--purple);
			}
		}

		&:hover {
			color: var(--cyan);
		}
	}
}

@keyframes header-item-animation {
	0% {
		opacity: 0;
		transform: translateY(10px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@media (max-width: 768px) {
	.header_logo_wrapper {
		display: none;
	}
}
