.error_modal {
	border-radius: 1rem;

	padding: 25px;
}

.error_modal_content {
	display: flex;
	justify-content: center;
	align-items: center;
	inline-size: 100%;
	block-size: 100%;

	font-size: inherit;
	font-weight: 700;
	color: var(--white);
	text-transform: capitalize;
}
