.map_collapse_wrapper {
	inline-size: calc(100% + 2px);
	block-size: 100%;
}

.map_ul {
	inline-size: 100%;
	block-size: 100%;

	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	padding-inline-end: 15px;
	padding-block-end: 10px;
}
